.serachBox{
    position: absolute;
    top: 10%;
    left: 39%;
    background: #f0eeee;
}
.searchValue{
    cursor: pointer;
}
.TAbleBox{
    width: 100%;
    height: 100%;
    position: absolute!important;
    top: 10%;
    left: 1%;
    z-index: 10099999999990!important;
    background: #f3eded;
}
.TAbleBox tbody{
    z-index: 899999999999;
}
.close{
    position: absolute;
    right: 8%;
    top: -5%;
    cursor: pointer;
}